VITE_BUSINESS_BRAND=Sacramento Shuttle Service
VITE_PHONE_DISPLAY=(916) 000-0000
VITE_PHONE_RAW=+19160000000
VITE_WHATSAPP_RAW=19160000000
VITE_BUSINESS_EMAIL=aungoclan@yahoo.com
VITE_SERVICE_AREA=Sacramento, California
VITE_BOOKING_ENDPOINT=https://script.google.com/macros/s/AKfycbyVacCBu9DJZrQdF5w3VJSw2_DKzK4OR33stLeywlkHN4KaEqp0Ct944QbB3nWSJ3M/exec
